.aboutus {

    margin-bottom: 70px;

    &__main {
        display: flex;
    }

    &__img-hand {
        margin-right: 30px;
    }

    &__info {
        height: 272px;
    }

    &__title {
        color: #2C2D35;
        font-size: 40px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 20px;
    }

    &__wrapper{
        width: 1110px;
        height: 440px;
    }


    &__subtitle {
        color: #2C2D35;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 20px;
    }

    &__team {
        display: flex;
    }

    &__teamworkers {
        margin-right: 30px;
    }

    &__info{
        padding-top:124px;
    }



}