* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2c2d35;
  background: #f4f6f5;
}

ol,
li {
  list-style-type: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
