* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #2C2D35;
    background: #F4F6F5;
}

ol,
li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

