.footer {
    background: #E1EDE6;
    padding: 23px 0px 23px;

    &__logo-title {
        display: flex;
        align-items: center;
        margin-bottom: 41px;
    }

    &__logo {
        margin-right: 8px;

    }

    &__title {
        color: #598D66;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        line-height: normal;
    }

    &__phone {
        color: #2C2D35;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: normal;
    }

    &__workshop {
        color: #86928B;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: normal;
        margin-top: 8px;
    }




    &__nav-name {
        color: #2C2D35;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 6px;
        transition: 0.2s;
        
        &:hover{
            color: #598d66;
            transition: 0.2s;
        }


    }
    

    &__item {
        color: #86928B;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 150%;
        padding-bottom: 6px;
    }

    &__menu {
        display: flex;
        width: 445px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }


    &__category {
        padding-right: 58px;
        &:nth-child(3) {
            padding-right:0px;

        }

    }

    &__social {
        max-width: 132px;

    }

    &__icon {
        margin-right: 30px;
    }

    &__icons{
        display: flex;
        margin-bottom:10px;

    }




    &__name {
        color: #86928B;
        font-size: 12px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 120%;
        margin-bottom:6px;
    }

    &__rights {
        color: #86928B;
        font-size: 12px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        line-height: 120%;
    }











}