.footer {
  background: #e1ede6;
  padding: 23px 0px 23px;

  &__logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
  }

  &__logo {
    margin-right: 8px;
  }

  &__title {
    color: #598d66;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: normal;
  }

  &__phone {
    color: #2c2d35;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__workshop {
    color: #86928b;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
  }

  &__nav-name {
    color: #2c2d35;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 6px;
    transition: 0.2s;

    &:hover {
      color: #598d66;
      transition: 0.2s;
    }
  }

  &__item {
    color: #86928b;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 6px;
  }

  &__menu {
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__category {
    margin-right: 60px;
    &:nth-child(3) {
      margin-right: 0px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: 0.3s;

    &:hover{
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &__icons {
    display: flex;
    margin-bottom: 10px;
    gap: 30px;
  }

  &__name {
    color: #86928b;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 6px;
  }

  &__rights {
    color: #86928b;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 120%;
  }
}

@media (max-width: 720px) {
  .footer {
    &__wrapper {
      flex-direction: column;
    }

    &__left {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      font-size: 16px;
    }

    &__nav-name {
      font-size: 20px;
    }

    &__menu {
      justify-content: space-between;
    }

    &__nav {
      margin-bottom: 16px;
      border-bottom: 1px solid #c3d1c6;
    }

    &__social {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__wrapper {
      flex-wrap: wrap;
      flex-grow: 3;
    }

    &__container {
      padding: 23px 39px;
    }

    &__category {
      margin-right: 60px;
    }

    &__left {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

@media (min-width: 320px) and (max-width: 515px) {
  .footer {
    padding: 20px;
    &__container {
      padding: 20px 15px;
    }

    &__wrapper {
      flex-wrap: wrap;
      flex-grow: 4;
    }

    &__left {
      flex-direction: column;
    }

    &__menu {
      display: flex;
      flex-wrap: wrap;
    }
    &__nav{
      display: flex;
    }

    &__phone {
      font-size: 16px;
    }

    &__workshop {
      font-size: 16px;
    }

    &__rights,
    &__name {
      font-size: 12px;
    }

    &__text {
      display: flex;
      gap: 0 2px;
    }
  }
}
