.header {
  background: #e1ede6;
  padding: 33px 0;

  a {
    transition: 0.2s;
  }

  a:hover {
    color: #598d66;
    transition: 0.2s;
  }

  &__logo-title {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #598d66;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0 60px;
  }

  &__shopping {
    max-width: 22px;
    margin-right: 0px;
    border: 0;
    background: transparent;
  }
}

// @media (max-width: 500px) {
//   &__wrapper {
//     max-width: 500px;
//   }
// }
