.header {
  background: #e1ede6;
  padding: 33px 0;

  a {
    transition: 0.2s;
  }

  a:hover {
    color: #598d66;
    transition: 0.2s;
  }

  &__logo-title {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #598d66;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  &__shopping {
    max-width: 22px;
    margin-right: 0px;
    border: 0;
    background: transparent;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &__item {
    margin-right: 60px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 33px 39px 32px 39px;
    &__item {
      font-size: 18px;
    }
    &__burger {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .header {
    padding: 16px 0px;

    &__logo-title {
      margin-bottom: 33.5px;
    }

    &__burger {
      display: none;
    }

    &__item {
      &:last-child {
        margin-left: auto;
      }
    }
    &__nav,
    &__menu {
      width: 510px;
    }

    &__menu {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        display: block;
        top: -17.5px;

        width: 100%;
        height: 1px;
        background: #c3d1c6;
        align-items: center;
      }
    }
    &__wrapper {
      flex-direction: column;
    }
  }
}

@media (min-width: 320px) and (max-width: 515px) {
  .header {
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 50;

    .container {
      padding: 16px;
    }
    &__logo-title {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__nav {
      width: 100%;
      background-color: aqua;
      display: none;
    }

    &__burger {
      display: block;
    }

    &__burger-line {
      width: 30px;
      height: 3px;
      background: #4c5866;
      border-radius: 15%;
      position: absolute;
      left: 10px;
      top: 60px;
      z-index: 99;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &::after {
        content: "";
        width: 30px;
        height: 3px;
        background: #4c5866;
        display: block;
        margin-top: 8px;
      }
      &::before {
        content: "";
        width: 30px;
        height: 3px;
        background: #4c5866;
        display: block;
        margin-top: 11px;
      }
    }

    &__burger-chk {
      position: fixed;
      top: 60px;
      left: 10px;
      width: 30px;
      height: 20px;
      z-index: 100;
      opacity: 0;

      &:checked ~ &__burger-list {
        transform: translateX(0);
      }

      &:checked ~ .header__burger-line::before {
        transform: rotate(-90deg) translateY(10%) translateX(40%);
      }

      &:checked ~ .header__burger-line {
        transform: rotate(-45deg) translateY(230%) translateX(-50%);
      }

      &:checked ~ .header__burger-line::after {
        display: none;
      }
    }

    &__burger-list {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 100px;
      right: 0px;
      bottom: 0;
      background: #e1ede6;
      transform: translateX(-100%);
      transition: 0.3s;
    }

    &__burger-item {
      padding: 50px;
      transition: 0.3s;
    }

    &__burger-shopping {
      max-width: 22px;
      margin-right: 0px;
      border: 0;
      background: transparent;
      position: absolute;
      right: 20px;
      top: 60px;
      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }

    &__burger-chk:checked ~ &__burger-list {
      transform: translateX(0);
      transition: 0.3s;
    }
  }
}
