.products {
  padding-bottom: 70px;
  padding-top: 39px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
  }

  &__img {
    margin-bottom: 20px;
    width: 100%;
    min-height: 422px;
    text-align: center;
    background-color: lightgrey;
    object-fit: cover;
    object-position: center;
  }

  &__author {
    color: #86928b;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    color: #2c2d35;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__material {
    color: #2c2d35;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    color: #598d66;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-top: auto;
    margin-bottom: 20px;
  }

  &__buy {
    color: #598d66;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 65px;
    padding: 20px 60px;
    border: 1px solid #598d66;
    background: transparent;
    transition: 0.2s;
    &:hover {
      background: #376b44;
      color: white;
      transition: 0.2s;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #e1ede6;
    padding: 20px 20px 30px;
    width: 100%;
  }
}

.section {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    color: #2c2d35;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 110%;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
  }
  &__button {
    height: 43px;
    padding: 5px 20px;
    border-radius: 1000px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background: #d4e8d9;
    border: 0;
    color: #2c2d35;
    line-height: normal;
    transition: 0.2s;
    &:hover {
      background: #376b44;
      transition: 0.2s;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .products {
    padding-top: 0px;

    &__wrapper {
      padding-top: 35px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 310px);
      grid-gap: 30px;
    }

    &__content {
      padding: 20px 20px;
      width: 100%;
    }
    &__img {
      width: 100%;
      min-height: 422px;
    }
  }
}

.section {
  &__title {
    font-size: 30px;
  }

  &__button {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .products {
    padding-bottom: 50px;

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: 30px;
      padding-top: 20px;
    }

    &__img {
      width: 100%;
      min-height: 250px;
    }

    &__author {
      font-size: 16px;
    }

    &__content {
      width: 100%;
    }

    &__name {
      font-size: 24px;
    }

    &__material {
      font-size: 16px;
      width: 200px;
      height: 38px;
      margin-bottom: 30px;
    }

    &__price {
      font-size: 20px;
    }

    &__buy {
      display: flex;
      max-width: 100%;
      max-height: 50px;
      padding: 20px 30px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  }

  .section {
    &__wrapper {
      flex-direction: column;
      align-items: start;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__button {
      padding: 10px 20px;
      font-size: 18px;
    }
  }
}

@media (min-width: 320px) and (max-width: 515px) {
  .section {
    &__menu {
      overflow: auto;
      gap: 0 20px;
      width: 250px;
    }

    &__wrapper {
      margin-bottom: 20px;
    }
  }

  .products {
    &__wrapper {
      padding-top: 0px;
    }

    &__img {
      width: 100%;
    }
  }
}
