.section {
    color: #2C2D35;
    background: #F4F6F5;
    height: 620px;


    $main-color: #598D66;

    &__main {
        display: flex;
        justify-content: space-between;

    }

    &__img {
        margin-right: 30px;
    }


    &__titles {
        padding-top: 145px;
    }

    &__title {
        width: 540px;
        font-size: 60px;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 20px;
    }

    &__green {
        color: $main-color
    }

    &__subtitle {
        color: #86928B;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 60px;
        font-size: 18px;

    }

    &__button {
        color: $main-color;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        height: 65px;
        padding: 20px 60px;
        align-items: center;
        border: 1px solid $main-color;
        background: transparent;

    }

}